/* HOME */

.wrapper {
 position: relative;
}

.wrapper h1 {
  position: absolute;
  top: -1rem;
  left: 2rem;
  /* top: 50%;
  left: 40%;
  transform: translate(-40%, 35%); */
  z-index: 2;
  line-height: 2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-top: 1px solid rgb(0, 0, 0);
  filter: drop-shadow(1px 2px 6px rgb(22, 22, 22));
  /* background: #141010;  */
  background: transparent; 
}

footer span {
  font-size: .8rem;
  color: #eaeaea; 
}

footer a {
  text-decoration: none;
  color:rgb(152, 179, 255);
  cursor: pointer;
}

/* REGISTER  */

.register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.register-box input, button {
  width: 200px;
  margin: 1rem;
}

.register-box input {
  border-radius: .3rem;
  border: none;
  padding: .3rem;
  font-family: inherit;
}

.no-account {
  margin: .5rem;
  margin-left: -2.5rem;
}

.account {
  margin: .5rem;
}

.register-box h3 {
  margin-top: 5rem;
}

/* NAVIGATION */

nav {
  /* background: linear-gradient(to right, #0d1f60, #1f3099, #110f4f); */
  /* background: linear-gradient(109.6deg, rgb(122, 2, 54) 13.4%, rgb(43, 1, 91) 100.2%); */
  background: transparent; 
  border-bottom: 1px solid rgb(0, 0, 0);
  filter: drop-shadow(1px 2px 6px rgb(22, 22, 22));
  height: 85px;
  /* z-index: 10; */
}

nav button {
  width: fit-content;
}

.nav-link {
  /* color: #f70776;  */
  color: #eaeaea; 
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-right: 1.5rem;
}

.nav-link:hover {
  /* color: rgb(228, 159, 248); */
  color: #577fff; 
}


.active {
  /* color: rgb(135, 231, 255) !important; */
  color: #577fff !important; 
}

.logo img {
  width: 50px;
  height: auto;
  filter: invert(1) drop-shadow(1px 2px 3px rgb(0, 0, 0));
  margin: 2rem;
}

.logout-btn {
  position: absolute;
  top: .2rem;
  right: .5rem;
  background-color: transparent;
  border: 1px solid white;
}

.logout-btn:hover {
  background-color: #161616;
}

.clear-btn:hover {
  background-color: #161616;
}

.btn-dark {
  background-color: transparent;
  border: 1px solid white;
}

.btn-dark:hover {
  background-color: #161616;
  border: 1px solid rgb(46, 56, 250);
}



/* CARDS */

.card,
.card-body {
  border-radius: .7rem;
  border: none;
  box-shadow: 2px 2px 8px rgba(51, 51, 51, 0.556);
  color: #0335ec;
  color: #161616;
}

.card-body {
  /* background-color: rgba(101, 213, 254, 0.697); */
  /* background-color: rgb(98, 231, 251); */
 background-color: #eaeaea; 
  border: none;
}

.card-img {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}



/* COUNTRIES */

.countries-h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  letter-spacing: 3px;
}

.country-faves button {
  width: 180px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* ABOUT */

.info-cont {
  width: 65vw;
  margin: 0 auto;
}

.about-cont h2 {
  text-align: center;
  margin: 3rem;
}

.map-div {
  display: flex;
  justify-content: center;
  
}