@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #252525;
  color: rgb(183, 183, 183);
}

h2 {
  letter-spacing: 2px;
}

.card-body {
  background-color: rgb(255, 255, 255);
}

.top-btn i {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  color: rgb(82, 82, 82);
}

.weather-box {
  /* display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center; */
  border: 1px solid white;
  background-color: rgb(32, 32, 32);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 3rem;
  width: 30vw;
  height: 25vh;
}

.c-single-btn {
  margin-left: 4rem;
  background-color: transparent;
  color: white;
  padding: .5rem 1rem .5rem 1rem;
}

.country-info {
  margin-left: 4rem;
  margin-top: -.6rem;
}