@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  /* background-color: #252525; */
  background: linear-gradient(to right, #0d1f60, #1f3099, #110f4f);
  color: rgb(135, 231, 255);
}

h2 {
  letter-spacing: 2px;
}

.top-btn i {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  color: rgb(82, 82, 82);
}

.weather-box {
  /* display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center; */
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.134);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 3rem;
  width: 30vw;
  height: 25vh;
}

.weather-box img {
  filter: drop-shadow(1px 1px 5px #121212);
}

.c-single-btn {
  margin-left: 4rem;
  background-color: transparent;
  color: white;
  padding: .5rem 1rem .5rem 1rem;
}

.country-info {
  margin-left: 4rem;
  margin-top: -.6rem;
}